<% include ../head %>

<div class="card-to-center">
<div class="jumbotron ">
	<h1 class="display-3">Great!</h1>
	<p class="lead">Now you just need to <b class="font-weight-bold">validate your e-mail</b>.</p>
	<hr class="my-4">
	<p>After validation you may consider to login.</p>
	<p class="lead">
	  <a class="btn btn-primary btn-lg" href="signin" role="button">Sign In</a>
	</p>
  </div>
</div>

<% include ../footer %>