<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link href="https://fonts.googleapis.com/css?family=Mansalva|Turret+Road|Ubuntu|Satisfy&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/chat.css">
	<link rel="stylesheet" href="/css/profile.css">
	<title><%= title%></title>
	<script type="text/javascript" src="/js/jquery-3.4.1.min.js" ></script>
	<script type="text/javascript" src="/js/popper.min.js" ></script>
	<script type="text/javascript" src="/js/bootstrap.min.js" ></script>
	<script type="text/javascript" src="/js/validation.js"></script>
</head>
<body>
